@import './config.scss';

.form-group {
  @include flex-center;
  width: 90%;
  margin: auto;

  .sub-label {
    font-size: 1.8rem;
    transform: translateY(20%);
    margin-right: 0.5rem;
  }

  .sub-input {
    width: 40%;
  }

  .btn {
    transform: translateY(20%);
    margin-left: 0.5rem;
  }
}
