@import './header';
@import 'config';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 1440px;
}
body {
  background-color: color-get(backgroundC);
  color: color-get(text-color);
  line-height: 1.4;
  margin: 90px auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: color-get(text-color);
}
